/* styles.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    background-size: cover;
    background-position: center;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
}

.countdown-box {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.countdown-title {
    color: #00FF41;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.countdown-loc {
    color: #00FF41;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.countdown-timer {
    color: #00FF41;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.terminal {
    position: absolute;
    z-index: 2;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #00FF41;
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

#output {
    white-space: pre-wrap;
    overflow-y: auto;
    flex-grow: 1;
    font-family: 'Courier New', Courier, monospace;
}

#input-area {
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#hidden-input {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.prompt-symbol {
    margin-right: 5px;
}

.blinking-cursor {
    font-weight: bold;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .terminal {
        width: 95vw;
        height: 50vh;
    }

    #output {
        font-size: 14px;
    }

    .blinking-cursor {
        font-size: 16px;
    }
}